<?xml version="1.0" encoding="UTF-8"?>
<?ifndef Version?>
<?define Version = "1.0.0" ?>
<?endif ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Product Id="*" Name="MTG Comparison" Language="1033" Version="$(var.Version).0"
           Manufacturer="Tyler Atkinson" UpgradeCode="000121DF-7646-4684-C1EF-FEC86B738909">

    <Package InstallerVersion="200"
         Platform="x64"
         Compressed="yes"
         InstallScope="perMachine"
         InstallPrivileges="elevated" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." AllowDowngrades="no" AllowSameVersionUpgrades="no"/>
		<MediaTemplate EmbedCab="yes" />

    <Property Id="PREVIOUSVERSIONSINSTALLED" Secure="yes" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
	<WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
    <UI>
      <UIRef Id="WixUI_InstallDir" />
    </UI>
    
    <Feature Id="ProductFeature" Title="CLEF Tool" Level="1">
      <ComponentGroupRef Id="MTGComparison_Project" />
      <ComponentGroupRef Id="MTG_Comparison_Exe" />
    </Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="MTG Comparison" />
			</Directory>
    </Directory>
	</Fragment>

  <Fragment>
    <ComponentGroup Id="MTG_Comparison_Exe">
      <Component Id="MTGComparisonPathEntry" Directory="INSTALLFOLDER" Guid="C1EF6E49-C1EF-4DA5-ABD0-4A3413D79099">
        <CreateFolder/>
        <RemoveFile Id="InstallState" On="uninstall" Name="MTG_Comparison.InstallState" />
        <Environment
          Id="PATH"
          Name="PATH"
          Value="[INSTALLDIR]"
          Permanent="yes"
          Part="last"
          Action="set"
          System="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>